<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="remoteCmd Service" Language="1033" Version="1.0.0.0"
    Manufacturer="NoStopTI" UpgradeCode="12345678-ABCD-1234-ABCD-1234567890AB"
    Codepage="65001">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MediaTemplate />

    <!-- Estrutura de diretórios -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="remoteCmd">
          <!-- Pasta "libs" -->
          <Directory Id="LIBFOLDER" Name="libs" />
          <!-- Pasta "runtimes" com subpastas "net7.0" e "net8.0" -->
          <Directory Id="RUNTIMEFOLDER" Name="runtimes">
            <Directory Id="WINFOLDER" Name="win">
              <Directory Id="libFOLDER" Name="lib">
                <Directory Id="NET7FOLDER" Name="net7.0" />
                <Directory Id="NET8FOLDER" Name="net8.0" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Componentes para instalação -->
    <ComponentGroup Id="ProductComponents">
      <!-- Componente principal (arquivos na pasta raiz) -->
      <Component Id="MainComponent" Guid="C6A3A2C4-6DF3-4B8A-85A5-F1A5E7A1D1A7"
        Directory="INSTALLFOLDER">
        <File Id="remoteCmdExe" Name="remoteCmd.exe" Source="remoteCmd.exe" KeyPath="yes" />
        <File Id="BouncyCastleCryptography" Name="BouncyCastle.Cryptography.dll"
          Source="BouncyCastle.Cryptography.dll" />
        <File Id="MailKit" Name="MailKit.dll" Source="MailKit.dll" />
        <File Id="appSettingsJson" Name="appSettings.json" Source="appSettings.json"/>
        <File Id="MicrosoftExtensionsConfigurationAbstractions"
          Name="Microsoft.Extensions.Configuration.Abstractions.dll"
          Source="Microsoft.Extensions.Configuration.Abstractions.dll" />
        <File Id="MicrosoftExtensionsConfigurationBinder"
          Name="Microsoft.Extensions.Configuration.Binder.dll"
          Source="Microsoft.Extensions.Configuration.Binder.dll" />
        <File Id="MicrosoftExtensionsConfigurationCommandLine"
          Name="Microsoft.Extensions.Configuration.CommandLine.dll"
          Source="Microsoft.Extensions.Configuration.CommandLine.dll" />
        <File Id="MicrosoftExtensionsConfiguration" Name="Microsoft.Extensions.Configuration.dll"
          Source="Microsoft.Extensions.Configuration.dll" />
        <File Id="MicrosoftExtensionsConfigurationEnvironmentVariables"
          Name="Microsoft.Extensions.Configuration.EnvironmentVariables.dll"
          Source="Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
        <File Id="MicrosoftExtensionsConfigurationFileExtensions"
          Name="Microsoft.Extensions.Configuration.FileExtensions.dll"
          Source="Microsoft.Extensions.Configuration.FileExtensions.dll" />
        <File Id="MicrosoftExtensionsConfigurationJson"
          Name="Microsoft.Extensions.Configuration.Json.dll"
          Source="Microsoft.Extensions.Configuration.Json.dll" />
        <File Id="MicrosoftExtensionsConfigurationUserSecrets"
          Name="Microsoft.Extensions.Configuration.UserSecrets.dll"
          Source="Microsoft.Extensions.Configuration.UserSecrets.dll" />
        <File Id="MicrosoftExtensionsDependencyInjectionAbstractions"
          Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll"
          Source="Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
        <File Id="MicrosoftExtensionsDependencyInjection"
          Name="Microsoft.Extensions.DependencyInjection.dll"
          Source="Microsoft.Extensions.DependencyInjection.dll" />
        <File Id="MicrosoftExtensionsDiagnosticsAbstractions"
          Name="Microsoft.Extensions.Diagnostics.Abstractions.dll"
          Source="Microsoft.Extensions.Diagnostics.Abstractions.dll" />
        <File Id="MicrosoftExtensionsDiagnostics" Name="Microsoft.Extensions.Diagnostics.dll"
          Source="Microsoft.Extensions.Diagnostics.dll" />
        <File Id="MicrosoftExtensionsFileProvidersAbstractions"
          Name="Microsoft.Extensions.FileProviders.Abstractions.dll"
          Source="Microsoft.Extensions.FileProviders.Abstractions.dll" />
        <File Id="MicrosoftExtensionsFileProvidersPhysical"
          Name="Microsoft.Extensions.FileProviders.Physical.dll"
          Source="Microsoft.Extensions.FileProviders.Physical.dll" />
        <File Id="MicrosoftExtensionsFileSystemGlobbing"
          Name="Microsoft.Extensions.FileSystemGlobbing.dll"
          Source="Microsoft.Extensions.FileSystemGlobbing.dll" />
        <File Id="MicrosoftExtensionsHostingAbstractions"
          Name="Microsoft.Extensions.Hosting.Abstractions.dll"
          Source="Microsoft.Extensions.Hosting.Abstractions.dll" />
        <File Id="MicrosoftExtensionsHosting" Name="Microsoft.Extensions.Hosting.dll"
          Source="Microsoft.Extensions.Hosting.dll" />
        <File Id="MicrosoftExtensionsHostingWindowsServices"
          Name="Microsoft.Extensions.Hosting.WindowsServices.dll"
          Source="Microsoft.Extensions.Hosting.WindowsServices.dll" />
        <File Id="MicrosoftExtensionsLoggingAbstractions"
          Name="Microsoft.Extensions.Logging.Abstractions.dll"
          Source="Microsoft.Extensions.Logging.Abstractions.dll" />
        <File Id="MicrosoftExtensionsLoggingConfiguration"
          Name="Microsoft.Extensions.Logging.Configuration.dll"
          Source="Microsoft.Extensions.Logging.Configuration.dll" />
        <File Id="MicrosoftExtensionsLoggingConsole" Name="Microsoft.Extensions.Logging.Console.dll"
          Source="Microsoft.Extensions.Logging.Console.dll" />
        <File Id="MicrosoftExtensionsLoggingDebug" Name="Microsoft.Extensions.Logging.Debug.dll"
          Source="Microsoft.Extensions.Logging.Debug.dll" />
        <File Id="MicrosoftExtensionsLogging" Name="Microsoft.Extensions.Logging.dll"
          Source="Microsoft.Extensions.Logging.dll" />
        <File Id="MicrosoftExtensionsLoggingEventLog"
          Name="Microsoft.Extensions.Logging.EventLog.dll"
          Source="Microsoft.Extensions.Logging.EventLog.dll" />
        <File Id="MicrosoftExtensionsLoggingEventSource"
          Name="Microsoft.Extensions.Logging.EventSource.dll"
          Source="Microsoft.Extensions.Logging.EventSource.dll" />
        <File Id="MicrosoftExtensionsOptionsConfigurationExtensions"
          Name="Microsoft.Extensions.Options.ConfigurationExtensions.dll"
          Source="Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
        <File Id="MicrosoftExtensionsOptions" Name="Microsoft.Extensions.Options.dll"
          Source="Microsoft.Extensions.Options.dll" />
        <File Id="MicrosoftExtensionsPrimitives" Name="Microsoft.Extensions.Primitives.dll"
          Source="Microsoft.Extensions.Primitives.dll" />
        <File Id="MimeKit" Name="MimeKit.dll" Source="MimeKit.dll" />
        <File Id="remoteCmdDeps" Name="remoteCmd.deps.json" Source="remoteCmd.deps.json" />
        <File Id="remoteCmdDll" Name="remoteCmd.dll" Source="remoteCmd.dll" />
        <File Id="remoteCmdPdb" Name="remoteCmd.pdb" Source="remoteCmd.pdb" />
        <File Id="remoteCmdRuntimeconfig" Name="remoteCmd.runtimeconfig.json"
          Source="remoteCmd.runtimeconfig.json" />

                <!-- <ServiceInstall Id="InstallRemoteCmd"
                        Name="remoteCmd"
                        DisplayName="remoteCmd Service"
                        Description="Servico para execucao remota de comandos"
                        Start="auto"
                        Type="ownProcess"
                        ErrorControl="normal" />
        

        <ServiceControl Id="StartRemoteCmd"
                        Name="remoteCmd"
                        Stop="both"
                        Start="install"
                        Remove="uninstall"
                        Wait="yes" /> -->

      </Component>


      <!-- Componente para a pasta "net7.0" -->
      <Component Id="Net7Component" Directory="NET7FOLDER">
        <File Id="SystemSecurityCryptographyPkcs" Name="System.Security.Cryptography.Pkcs.dll"
          Source="runtimes\win\lib\net7.0\System.Security.Cryptography.Pkcs.dll" KeyPath="yes" />
      </Component>

      <!-- Componente para a pasta "net8.0" -->
      <Component Id="Net8Component" Directory="NET8FOLDER">
        <File Id="SystemDiagnosticsEventLog" Name="System.Diagnostics.EventLog.dll"
          Source="runtimes\win\lib\net8.0\System.Diagnostics.EventLog.dll" KeyPath="yes" />
      </Component>
      <Component Id="Net8Component1" Directory="NET8FOLDER">
        <File Id="ServiceProcessServiceControllerdll" Name="ServiceProcess.ServiceController.dll"
          Source="runtimes\win\lib\net8.0\System.ServiceProcess.ServiceController.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>


    <!-- Feature principal -->
    <Feature Id="MainFeature" Title="remoteCmd Service" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>
</Wix>